@import url('https://fonts.googleapis.com/css?family=Fira+Mono:500|Fira+Sans+Condensed:500,500i,800,800i|Merriweather:400,400i|Vollkorn:700&subset=latin-ext');
/*_______________________________________________________________________________________________________________

font-family: 'Merriweather', serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Mono', monospace;
font-family: 'Vollkorn', serif;

    Display large csss editor
_______________________________________________________________________________________________________________*/
@media (min-width: 768px) {
.col-sm-2 {
    width: 30%;}
.col-sm-10 {
    width: 70%;}
}

/*color palette of the theme */
:root {
    --page-background-color: #202020; 
    --title-gradient-color: #abacaf, #f0f0f0, #8d8d8f, #494a4d;
    --content-background-color: #020204; 
    --content-border-color: #abacaf; 
    --content-border-params: 5px var(--content-border-color) solid;
    /* left panel */
    --panel-background-color: #97989e20;
    --panel-border-color: #ffffff; 
    --panel-border-params: 2px solid var(--panel-border-color);
    /* backtoworld button */
    --backtoworld-border-color: var(--content-border-color);
    --backtoworld-border-params: 5px solid var(--backtoworld-border-color);
    --backtoworld-fonts-family: 'Fira Sans Condensed', sans-serif;
    --backtoworld-fonts-weight: 800;
    --backtoworld-fonts-size: 20px;
     /* backtoworld inverting color */
    --backtoworld-fonts-color: var(--content-border-color);
    --backtoworld-fonts-color-hover:var(--content-background-color);
    --backtoworld-background-color: (--content-background-color);
    --backtoworld-background-color-hover: var(--content-border-color);
    /* World Title */ 
    --worldtitle-fonts-family: 'Vollkorn', serif;
    --worldtitle-fonts-weight: 700;
    --worldtitle-fonts-size: 50px;
    --worldtitle-fonts-gradient: var(--title-gradient-color);
    /* blockquote */
    --bloquote-background-color: #cfdaff35;

  }
/*_______________________________________________________________________________________________________________

    General presentation layer display
_______________________________________________________________________________________________________________*/

.presentation-interface {
    background: var(--page-background-color);
}
/*_______________________________________________________________________________________________________________
    
    Article Page display       
_______________________________________________________________________________________________________________*/
.page { 
    background: var(--content-background-color);
	line-height: 1.3em;
    border-radius: 25px;
    border: var(--content-border-params);
}
/*rounding the top of cover image to adapt to the border*/
.page .cover .img-responsive {
    border-radius: 18px 18px 0px 0px;
}

/*_______________________________________________________________________________________________________________

    Side Panel display 
_______________________________________________________________________________________________________________*/
.user-css .panel,
.user-css-extended .panel {
    background: var(--panel-background-color);
    margin-bottom: 20px;
    border: var(--panel-border-params);
    border-radius: 25px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05) ;
    box-shadow: 0 0px 0px rgba(0,0,0,.5) ;
} 


/*_______________________________________________________________________________________________________________

   backtoworld button display 
_______________________________________________________________________________________________________________*/
.page div .backtoworld a {
    background: var(--backtoworld-background-color);
    color: var(--backtoworld-fonts-color);
    font-family: var(--backtoworld-fonts-family);
    font-weight: var(--backtoworld-fonts-weight);
    font-size: var(--backtoworld-fonts-size);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
    top: 0px;
    padding: 7px 10px;
    padding-left: 13px;
    margin-left: 8px;
    border: var(--backtoworld-border-params);
    border-radius: 0px 7px  7px 0px;
}
.page div .backtoworld a:hover {
    background:var(--backtoworld-background-color-hover);   
	color:var(--backtoworld-fonts-color-hover);
    font-family: var(--backtoworld-fonts-family);
    font-weight: var(--backtoworld-fonts-weight);
    font-size: var(--backtoworld-fonts-size);
	text-transform: uppercase;
	text-decoration: none;
    box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
    border-radius: 0px 7px 7px 0px;
}


/*_______________________________________________________________________________________________________________

    Side Panel display 
_______________________________________________________________________________________________________________*/
.page .world-title {
    font-family: var(--worldtitle-fonts-family);
    font-weight: var(--worldtitle-fonts-weight);
    font-size: var(--worldtitle-fonts-size);
    text-transform: uppercase;
    background: -webkit-linear-gradient(var(--worldtitle-fonts-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0a4486;
    margin-top: 40px;
    padding-bottom: 5px;
}

.page h1 {
    font-size: 45px;
    font-family: 'Vollkorn';
    font-weight: 700;
    text-transform: uppercase;
    color: #ff0000;
    line-height: 1.3em;
    padding-top: 10px;
    margin-top: 45px;
    border-bottom: 2px inset #151618;
}

.page h2 {
    color: #5877ff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-transform: capitalize;
    border-bottom: 0px solid;
	padding-top: 5px;
    padding-bottom: 1px;
}

    .page h2, blockquote, img {
        -webkit-column-span: all;
        column-span: all;
    }

.page h3 {
    color:#1c78e2;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    border-bottom: 1px solid #1c78e2;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 10px
}

    .page h3.world-currentDate{
        font-family: 'Fira Mono', monospace;
        font-style: normal;
        color: #1c78e2;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 0px solid;
    }
.page h4 {
    color:#36acdb;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page h5 {
    color:#36acdb;
    font-family: 'Fira Sans Condensed';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page h6 {
    color:#36acdb;
	font-family:  'Fira Sans Condensed';
	font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.page p {
    color:#bfedff;
	font-family: 'Fira Sans Condensed';
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.page a, a:focus {
    color: #a6324a;
}

.page a:hover {
    color: #d95772;
}

.page hr {
    border-color: #804033;
}
.page blockquote {
    background: #0b2036;
    padding: 20px;
    margin: 10px;
    border-left: 10px #2c589e solid;
    border-radius: 20px;
	font-family: 'Fira Sans Condensed';
    font-size: 22px;
    line-height: 1.10em;
}
.user-css blockquote .author {
    display: block;
    font-size: 15px;
	font-family: Metamorphous;
    font-style: normal;
    color: #d99d57;
    padding-top: 15px;
}  